body{
    background-color: #f5c2dc;
}
.mainTodo{
    display: flex;
    flex-direction: column;
    max-width: 24%;
    min-height: 400px;
    margin: auto;
    margin-top: 4rem;
    /* background-color: rgb(233, 198, 152); */
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    box-sizing: border-box;
}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    /* padding: 1rem; */
}

.bgColor{
    color: rgb(215, 254, 155);
}

.striked{
    text-decoration: line-through;
    background-color: rgb(158, 244, 158);
    margin-bottom: auto;
    margin-top: auto;
}

.inputDiv{
    position:relative;
    margin-bottom:10px;
}

.addInput{
    /* width: 80%;
    margin: auto;
    border: none;
    border-radius: 6px;
    height: 40px; */

    min-height:30px;
    min-width:86%;
    padding-left:10px;
    border-radius: 4px;
    border:none;outline:none;
    text-align: center;
    font-size: medium;
}

.addInput{
    inline-size: 180px;
    overflow-wrap: break-word;

}

/* .listDivWidth{
    width: 104%;
    padding: 0;

} */

.listItems{
    min-height:30px;
    max-width:90%;
    /* padding-left:10px; */
    border-radius: 4px;
    border:none;outline:none;
    text-align: center;
    font-size: medium;
    /* background-color: white; */
    background-color: #f4fcff;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;
    margin-top: 4px;
}

.addbutton{
    position:absolute;
    left: 20px;
    top: -4px;
    border:none;
    height:20px;
    width:20px;
    /* border-radius:100%; */
    outline:none;
    text-align:center;
    font-weight:bold;
    /* padding:2px; */
    background: none;
    font-size: xx-large;
    box-sizing: border-box;
  }
  .addbutton:hover{
    cursor:pointer;
  }

  .removeBtn:hover{
      cursor: pointer;
  }

  /* remove btn */

/* CSS */
.removeBtn {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* checkbox styling */
/* This margin makes checkbox left aligned */
.checkStyle, .listTextStyle{
    margin-top: auto;
    margin-bottom: auto;
}

.listTextStyle{
    inline-size: 180px;
    overflow-wrap: break-word;

}

/* SHOW COMPLETED TO-DOS */

/* CSS */

/* CSS */
.showCompletedToDos {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  /* max-width: 100%; */
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* Deepak Added */
  margin-top: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
}

.showCompletedToDos:active {
  outline: 0;
}

.showCompletedToDos:hover {
  outline: 0;
}

.showCompletedToDos span {
  transition: all 200ms;
}

.showCompletedToDos:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .showCompletedToDos {
    font-size: 15px;
    height: 50px;
  }

  .showCompletedToDos span {
    line-height: 50px;
  }
}
